.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
chm_extracted/**
phobos_extracted/**
scripts/**
.husky/**
.eslintcache
commitlint.config.js
release-check.sh
pnpm-lock.yaml
